/* bundan sonraki iş aşağıya glassy gözüken kartlar yapmak (kendin yap!) ve footer'i de bir şekilde halletmek. zor, ama güzel olacak */
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: rgb(28, 31, 42);
  color: rgb(215, 210, 203);
  margin: 0;
  padding: 0;
}
body {
  justify-self: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  font-family: "Gabarito", sans-serif;
  /*     background: linear-gradient(135deg, #2d1e40, #204655, #1a2b3d);
 */ /* background: linear-gradient(to right, #667eea, #764ba2); */
  opacity: 1;
}

/* gradient and background container stuff */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: -1;
  pointer-events: none;
}
.gradient {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  position: absolute;
  transition: opacity 1s ease;
  opacity: 0;
}
.visible {
  opacity: 1;
}
.gradient-1 {
  background: linear-gradient(135deg, #2d1e40, #204655, #1a2b3d);
}
.gradient-2 {
  /* background: linear-gradient(135deg, #1e2d2b, #2a3f44, #2c2f3f); */
  background: linear-gradient(
    135deg,
    #1e2d2b,
    /* forest green black */ #3a415a,
    /* muted indigo */ #2b3c44,
    /* cool slate blue */ #2f1b38 /* deep plum/purple for that rich color hit */
  );
}

header {
  position: sticky;
  padding: 0;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  top: 0;
  height: 5vh;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  background: linear-gradient(
    to bottom,
    rgba(28, 31, 42, 0.9),
    rgba(28, 31, 42, 0)
  );
}

.message {
    margin-left: 3rem;
    margin-right: 3rem;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 52px;
  line-height: 5.7rem;
  animation: slideUp 3s normal forwards;
  width: fit-content; /* or a fixed width or max-width */



}
.message-card{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    padding: 1.3rem;
    background: rgba(148, 148, 148, 0.15);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}


/* second page */
.footer{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    font-size: 14px;
}
.footer-grid{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
}
.footer-item{
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    padding: 0.7rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    text-wrap-style:pretty;
    width: auto;

}
.disco-cat{
  cursor: pointer;
  display: inline-block;
}
.disco-cat:hover{
  animation: spin 2s linear infinite;
}
.cards {
  display: flex;
  flex-direction: column; 
  height: 95vh;
  padding-right: 4rem;
  padding-left: 4rem;
  justify-content: center;

}
.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 1.5rem;
  flex-grow: 1;
  align-content: center;
}
.card-item {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  font-size: large;
  max-height: max-content;
  min-width: 100px;
}
.card-item:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.main-content {
  display: flex;
  flex-direction: column;
}
.logo {
  font-family: "Pacifico", cursive;
  font-weight: initial;
  font-size: xx-large;
  justify-self: flex-start;
  align-content: center;
}
.links {
  justify-self: flex-end;
  align-content: center;
  font-size: x-large;
}
.links a {
  display: block;
  margin-top: 14px;
}

.links img {
  color: #d7d2cb;
  align-items: end;
}
.links-seperate {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.links-seperate img {
  align-self: bottom;
  height: 17px;
  width: auto;
}
img {
    width: auto;
    height: 17px;
  }
a {
  text-decoration: none;
  color: #d7d2cb;
}
a:hover {
  text-decoration: underline;
  color: white;
}

@keyframes slideUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1200px) {
  .message {
    font-size: 55px;
    line-height: 5.5rem;
  }
}
@media (max-width: 1024px) {
  .message {
    font-size: 45px;
    line-height: 4.5rem;
  }
}
@media (max-width: 800px) {
  svg {
    width: 20px;
    height: 20px;
  }
  .message {
    font-size: 40px;
    line-height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .links {
    font-size: 16px;
  }
  header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  img {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 655px) {
  .message {
    font-size: 35px;
    line-height: 3.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  svg {
    height: 18px;
    width: 18px;
  }
  .links-seperate img {
    height: 15px;
    width: auto;
  }
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  img {
    width: 16px;
    height: 16px;
  }
  .links {
    font-size: 18px;
  }
}

@media (max-width: 470px) {
  .message {
    font-size: 32px;
    line-height: 3.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footer{
    justify-content: center;
    text-align: center;
  }
  .footer-item{
    width: auto;
    font-size: small;
  }
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .links-seperate img {
    height: 12px;
    width: auto;
  }
  .logo {
    font-size: 25px;
  }
  .links {
    font-size: 14px;
  }
  img {
    width: 14px;
    height: 14px;
  }
  .links a {
    margin-top: 7px;
  }
}
@media (max-width: 376px) {
  .message {
    font-size: 30px;
    line-height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 95vh;
  }
}
@media (max-width: 321px) {
  .message {
    font-size: 25px;
    line-height: 2.7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 95vh;
  }
  header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .logo {
    font-size: 20px;
  }
  .links {
    font-size: 14px;
  }
  .links a {
    margin-top: 5px;
  }
}
